<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FavoriteRegions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AF91B612B3EF7D600656A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF91B712B3EF7D700656A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF91B7B2B3EF7D700656A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
